/*
* Style sheet for search page.
*/
#card-container {
    overflow-y: scroll;
    height: 350px;
    padding: 30px;
}

.card.horizontal {
    font-family: "Futura Medium", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    height: 200px;
}

.card.horizontal .card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 30%;
}

.card.horizontal .card-image img {
    border-radius: 50%;
    padding: 5px;
    max-width: 50%;
}
